<%= render 'header' %>

<section class="page-section ">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">

            <h1>Admin</h1>
            
            <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-wine-bottle"></i></div>
              <div class="divider-custom-line"></div>
            </div>

            <div class="container px-4">
              <div class="row gx-5">
                <div class="col">
                 <div class="p-3 border bg-light"><%= link_to 'Add Product', new_product_path, class: 'nav-link'%></div>
                </div>
                <div class="col">
                 <div class="p-3 border bg-light"><%= link_to 'Add Recipe', new_recipe_path, class: 'nav-link'%></div>
                </div>
              </div>
              </div>

          </div>
      </div>
    </div>
  </div>
 </div>
</section>
