<div class="nested-fields">

  <%= f.hidden_field :_destroy %>
  <div class="field mb-3">
    <%= f.text_area :direction, class:'form-control', placeholder:'Direction' %>
  </div>
  <div>
    <%= link_to 'Remove', '#', class:'remove_fields' %>
  </div>

</div>
