<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Disclaimer</span>
                        <!-- <span class="section-heading-lower">To You</span> -->
                    </h2>
                    <p class="mb-0">Everyone who enters Lakeside Liquor must be 21+ years old.</p>
                </div>
            </div>
        </div>
    </div>
</section>
