<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://www.conserve-energy-future.com/wp-content/uploads/2020/12/cold-bottles-of-beer-in-bucket.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Wine, Beer, Liquor</span>
                    <span class="section-heading-lower">Worth Drinking</span>
                </h2>
                <p class="mb-3">
                  <em>
                      <strong>227 Oklahoma Blvd</strong>
                      <br />
                      Alva, OK 73717
                  </em>
                </p>
                <div class="intro-button mx-auto"><%= link_to 'Visit Us Today', store_path, class:'btn btn-primary btn-xl' %></div>
            </div>
        </div>
    </div>
</section>
