<%= render 'home/header' %>
<%= render 'home/nav' %>
<section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Wine, Beer, Liquor</span>
                  <span class="section-heading-lower">About Our Liquor Store</span>
                </h2>
                <p>Founded in 2020 by the Patricia and Douglas Kletke, our establishment has providing the region with a wide variety of spirits. We are dedicated to providing the community with local favorites as well as new imports.</p>
                <p class="mb-0">
                  If you have a favorite we currently do not have in stock
                   <em>please</em>
                  let us know and we will do our best aquire your favorites. We are always looking to add new and exciting spirits to our selection.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'home/footer' %>
