<%= render 'home/nav' %>
<section class="page-section about-heading">
      <div class="container">
          <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://www.seriouseats.com/thmb/MRhFhj69csZzjXVzYMhNtfEuHGs=/458x458/smart/filters:no_upscale()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__drinks.seriouseats.com__images__2014__01__20140129germanbeers-8bbe64b57b0f4a2985e9a24df960ff3e.jpg" alt="..." />
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Wine, Beer, Liquor</span>
                  <span class="section-heading-lower">About Our Liquor Store</span>
                </h2>
                <p>Founded in 2020 by the Patricia and Douglas Kletke, our establishment has providing the region with a wide variety of spirits. We are dedicated to providing the community with local favorites as well as new imports.</p>
                <p class="mb-0">
                  If you have a favorite we currently do not have in stock
                   <em>please</em>
                  let us know and we will do our best aquire your favorites. We are always looking to add new and exciting spirits to our selection. 
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'home/footer' %>
